<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <title>MEDIC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='styles/images/Transparent BG/icon crop.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="header-logo"></div>
            <img src="{{ url_for('static', filename='styles/images/nhs_logo.png') }}" alt="nhs_logo" class="nhs-logo-img" >
            <img src="{{ url_for('static', filename='styles/images/Transparent BG/Full Logo and Slogan copy.png') }}" class="medic-logo-img">
        </div>

        <section class="chat-container">
            <header class="chat-header">
                <div class="chat-header-title">
                    <img src="{{ url_for('static', filename='styles/images/Transparent BG/icon crop.png') }}" alt="icon" style="vertical-align: middle;">
                    <h3 style="display: inline-block; vertical-align: middle; margin-left: 10px;">MEDIC - DoctorBOT</h3>
                    <a href="{{ url_for('static', filename='Templates/index.html') }}"><button type="submit" class="top-btn">Exit</button></a>
                </div>          
            </header>

            <main class="chat-messages">
              <div class="message message-left">
                <div class="message-img"></div>
                 <div class="message-bubble">
                    <div class="loading">
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                    </div>
                    <div class="message-info">
                        <div class="message-info-name">DoctorBOT</div>
                        <div class="message-info-time"> </div>
                    </div>

                    <div class="message">
                      <div class="message-text">
                        Hi, Welcome to DoctorBOT! Your personal doctor. 👨🏼‍⚕️ 🧑🏼‍⚕️ <br>
                        Go ahead and send me a message. 😄
                      </div>
                    </div>                         
                  </div>
                </div>
              </div>

               <div class="message message-left">
                  <div class="message-img"></div>
                    <div class="message-bubble">
                      <div class="message-info">
                          <div class="message-info-name">DoctorBOT</div>
                          <div class="message-info-time"> </div>
                      </div>
                      <div class="message">
                        <div class="message-text">
                          <strong>Please Note: </strong> <br class="space"> <p>If you are searching for Symptoms or Medication with more than one word, please separate them with a hyphen.</p>
                          <br><br><p>For example, if you're searching for symptom 'high blood pressure' or medication such as 'benzoyl peroxide', please write it like this: high-blood-pressure or benzoyl-peroxide.</p>
                          <br><br><p>If you're searching for a pharmacy in your area, please type in the name of the area or postcode in capital letters. <strong>Thank you!</strong> </p>
                        </div>
                      </div>
                    </div>  
                </div>
              </main> 

            <form class="chat-input">
                <input type="text" class="input-message" id="textInput" placeholder="Enter your message...">
                <button type="submit" class="send-btn">Send</button>
            </form>
        </section>


        <script>
            const form = document.querySelector(".chat-input");
            const input = document.querySelector(".input-message");
            const chat = document.querySelector(".chat-messages");
        
            const ChatBot_Image = "/static/styles/images/doctor.png";
            const User_Image = "/static/styles/images/man.png"
            const ChatBot_Name = "DoctorBot";
            const User_Name = "You";
        
            form.addEventListener("submit", event => {
            event.preventDefault();
        
            const message = input.value;
            if (!message) return;
        
            appendMessage(User_Name, User_Image, "right", message);
            input.value = "";
            botResponse(message);
            });
        
            function appendMessage(name, image, side, text) {
              let loadingIndicator = '';
              if (side === 'left') {
                loadingIndicator = `
                  <div class="loading left-loading loading-${side}">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                  </div>
                `;
              }
              const html = `
                <div class="msg ${side}-msg">
                  <div class="msg-img" style="background-image: url(${image})"></div>
                  <div class="msg-bubble">
                    ${loadingIndicator}
                    <div class="msg-info">
                      <div class="msg-info-name">${name}</div>
                      <div class="msg-info-time">${formatDate(new Date())}</div>
                    </div>
                    <div class="msg-text">${text}</div>
                  </div>
                </div>
              `;

              chat.insertAdjacentHTML("beforeend", html);
              chat.scrollTop += 500;
            }

            
              // Bot Response
              function botResponse(rawText) {
                const loadingHtml = `
                  <div class="msg left-msg">
                    <div class="msg-img" style="background-image: url(${ChatBot_Image})"></div>
                    <div class="msg-bubble">
                      <div class="loading">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                      </div>
                    </div>
                  </div>
                `;
                
                chat.insertAdjacentHTML("beforeend", loadingHtml);
                chat.scrollTop += 500;

                $.get("/get", { msg: rawText }).done(function(data) {
                  console.log(rawText);
                  console.log(data);

                  const loadingElement = chat.lastElementChild;
                  loadingElement.querySelector(".loading").style.display = "none";
                  loadingElement.querySelector(".msg-bubble").innerHTML = `
                    <div class="msg-info">
                      <div class="msg-info-name">${ChatBot_Name}</div>
                      <div class="msg-info-time">${formatDate(new Date())}</div>
                    </div>
                    <div class="msg-text">${data}</div>
                  `;
                });
              }
            
            function get(selector, root = document) {
            return root.querySelector(selector);
            }

            function formatDate(date) {
            const hours = `0${date.getHours()}`.slice(-2);
            const minutes = `0${date.getMinutes()}`.slice(-2);
            return `${hours}:${minutes}`;
            }
        </script>

    </body>
</html>
  


<!-- credits -->

<!-- 
    <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/doctor" title="doctor icons">Doctor icons created by Freepik - Flaticon</a> 
-->